* {
    padding: 0px;
    margin: 0px;
    font-size: 1.0rem;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* overflow: hidden; */
}
:root{
    --primaryColor:rgb(35, 42, 63);
    --buttons: rgba(64, 67, 72, 0.91);
}

body {
background: var(--primaryColor);
display:flex;
overflow: hidden;
}


/* --------------------------------- All script for Container 1 -----------------------*/
.container_1 {
    position: relative;
    display: block;
    height: 100%;
    width:max-content;
    flex-direction: column;
    flex-wrap: wrap;
}

.navigation {
    display: block;


}

.navigation_list {
    position: relative;
    top: 0px;
    left: 0px;
    height: auto;
    background:var(--primaryColor);
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
}

.list_item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    color: #fff;
    text-align: left;
    justify-content: left;
    width: 100%;
    margin: 6px;
    margin-right:60px;
    left: 0px;
    cursor: pointer;
}

.list_item img {
    width: 26px;
    margin: 6px;
    padding: 1px;

}

.list_item p {
    font-size: 18px;
    margin: 6px;
    margin-right:80px;
    padding: 1px;
    font-weight: bolder;
    width: max-content;
    line-height: 26px;
    transition: text-shadow 0.3s ease;
}

.list_item:hover {
    text-shadow: 0px 0px 10px whitesmoke;
}


.navi_you_fav {
margin-top:30px;
}

.navi_you_fav img {
    width: 26px;
    margin: 6px;
    padding: 1px;
}

.navi_buttons {
    display: block;
    position: relative;
    width: max-content;
    right: 0px;
    margin: 4px;
    padding: 1px;
    line-height: 26px;
    font-size: 18px;
    cursor: pointer;
}


.filter_list {
    display: flex;
    width: 50%;
    position: relative;
    height: auto;
    padding: 1px;
    margin: 1px;
    justify-content: space-between;
}

.filter_list .filter {
    color: #fff;
    padding: 8px;
    display: block;
    position: relative;
    border-radius: 8px;
    text-align: center;
    background: rgba(60, 64, 76, 0.84);
    cursor: pointer;
    width: 100%;
    margin: 2px;
    margin-right:4px
}
.filter_list .filter:hover {
    background: rgb(69, 73, 87);
}

.reset {
    color: #fff;
    padding: 8px;
    position: relative;
    border-radius: 8px;
    text-align: center;
    background: rgba(60, 64, 76, 0.775);
    cursor: pointer;
    display: none;
    width: 25%;
    margin: 1px 15px 1px 1px;
}

.search_list {
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    scrollbar-width: none;
}

.search_sort {
    position: relative;
    width: 100%;
    margin: 10px;
}

.search_sort label {
    position: absolute;
    cursor: pointer;
    top: 5px;
    color: white;
}

/* .search_sort label:hover {
    background: rgba(70, 74, 80, 0.815);
} */

.search_sort label img {
    width: 18px;
    margin: 4px;
    padding: 1px;

}
.search_sort #search:hover{
    background: rgba(70, 74, 80, 0.815);
}

.search_sort #search {
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease, opacity 0.3s ease, left 0.3s ease;
    position: relative;
    padding: 10px 0px 10px 30px;
    /* Platz für das Bild */
    box-sizing: border-box;
    border: none;
    border-radius: 30px;
    background: transparent;
    cursor:pointer;
}

.search_sort #search:focus {
    width: 250px;
    opacity: 1;
    outline: none;
    cursor:text;
    background: rgba(70, 74, 80, 0.815);
}

.playlist {
    padding: 1px;
    display: block;
    text-align: left;
    height: 50px;
    float: left;
    margin-left: 10px;

}

.playlist_text{
    color:#fff;
    font-size: 1.2em;
    line-height: 30px;
    cursor:pointer;
    transition: text-shadow 0.3s ease;

}
.playlist_text:hover{
    text-shadow: 1px 1px 10px whitesmoke;
}

.playlist_text span{
    color:darkgrey;
    font-size: 0.8em;
}
/* --------------------------------- End of the Script ------------------------------------*/

/* --------------------------------- All script for Container 2 -----------------------*/
.container_2 {
    position: relative;
    display: block;
    height: 100%;
    width:max-content;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-y:scroll;
    scrollbar-width: none;
}

.header_nav{
    width:100%;
    height:30px;
}
.header_nav button{
    font-size: 18px;
    font-weight: 800;
    inline-size: 0.5rem;
    vertical-align: middle;
    border:none;
}

.section{
    background: linear-gradient(180deg, rgba(49, 120, 146, 0.91) 0%, rgba(35, 74, 88, 0.91) 40%, rgba(59, 61, 66, 0.91) 100%);
    width:100%;

}
.block_list{
    width:100vw;
    top:0px;
    left:50px;
}

/* --------------------------------- End of the Script ------------------------------------*/

/* --------------------------------- All script for Container 3 -----------------------*/






/* --------------------------------- End of the Script ------------------------------------*/