* {
    padding: 0px;
    margin: 0px;
    font-size: 1.0rem;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

:root {
    --primaryColor: rgb(35, 42, 63);
    --buttons: rgba(64, 67, 72, 0.91);
}

body {
    background: var(--primaryColor);

}

.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-x: auto;
    white-space: nowrap;
}

/* --------------------------------- All script for Container 1 -----------------------*/
.container_1 {
    width: max-content;
    display:inline-block;
}

.list_item {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    color: #fff;
    margin: 6px;
    /* margin-right:60px; */

    cursor: pointer;
}

.list_item img {
    width: 26px;
    margin: 6px;
    padding: 1px;

}

.list_item p {
    font-size: 18px;
    margin: 6px;
    margin-right: 80px;
    padding: 1px;
    font-weight: bolder;
    /* width: max-content; */
    line-height: 26px;
    transition: text-shadow 0.3s ease;
}

.list_item:hover {
    text-shadow: 0px 0px 10px whitesmoke;
}


.navi_gap {
    margin-top: 30px;
}

.navi_buttons {
    display: block;
    /* width: max-content; */
    margin: 4px;
    padding: 1px;
    line-height: 26px;
    font-size: 18px;
    cursor: pointer;
}


.filter_list {
    display: flex;
    width: 100%;
    padding: 4px;
    margin: 1px;
}

.filter_list .filter {
    color: #fff;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    background: rgba(60, 64, 76, 0.84);
    cursor: pointer;
    margin: 2px;
}

.filter_list .filter:hover {
    background: rgb(69, 73, 87);
}

.reset {
    color: #fff;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    background: rgba(60, 64, 76, 0.84);
    cursor: pointer;
    display: none;
    margin-top: 2px;
    margin-right: 15px;
    margin-bottom: 2px;
    margin-left: 2px;
}

.search_list {
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    scrollbar-width: none;
}

.search_sort {
    position: relative;
    width: 100%;
    margin: 10px;
}

.search_sort label {
    position: absolute;
    cursor: pointer;
    top: 5px;
    color: white;
}

/* .search_sort label:hover {
    background: rgba(70, 74, 80, 0.815);
} */

.search_sort label img {
    width: 18px;
    margin: 4px;
    padding: 1px;

}

.search_sort #search:hover {
    background: rgba(70, 74, 80, 0.815);
}

.search_sort #search {
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease, opacity 0.3s ease, left 0.3s ease;
    position: relative;
    padding: 10px 0px 10px 30px;
    /* Platz für das Bild */
    box-sizing: border-box;
    border: none;
    border-radius: 30px;
    background: transparent;
    cursor: pointer;
}

.search_sort #search:focus {
    width: 250px;
    opacity: 1;
    outline: none;
    cursor: text;
    background: rgba(70, 74, 80, 0.815);
}

.playlist {
    padding: 1px;
    display: block;
    text-align: left;
    height: 50px;
    float: left;
    margin-left: 10px;

}

.playlist_text {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
    margin-bottom: 2px;
    color: #fff;
    font-size: 1.2em;
    line-height: 30px;
    cursor: pointer;
    transition: text-shadow 0.3s ease;
    border-top-right-radius: 11px;
    border-top-left-radius: 11px;
    border-bottom-right-radius: 11px;
    border-bottom-left-radius: 11px;
}

.playlist_text:hover {
    background: rgba(130, 127, 127, 0.493);
}

.playlist_text span {
    color: darkgrey;
    font-size: 0.8em;
}
.playlist_pic_hov{
    display:none;
}
/* --------------------------------- End of the Script ------------------------------------*/

/* --------------------------------- All script for Container 2 -----------------------*/
.container_2 {
    display:inline-block;
    /* max-width: 30%; */
    height: 100%;
    scrollbar-width: none;
}

.header_nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
    height: auto;
    position: sticky;
    background: transparent;
    z-index: 1;
    padding: 10px;
}

.header_nav button {
    color: #fff;
    padding: 4px;
    display: block;
    border-radius: 8px;
    text-align: center;
    background: rgba(60, 64, 76, 0.84);
    cursor: pointer;
    width: max-content;
    margin: 2px;
    margin-right: 4px;
}

.section {
    max-width: max-content;
    background: linear-gradient(180deg, rgba(49, 120, 146, 0.91) 0%, rgba(35, 74, 88, 0.91) 40%, rgba(59, 61, 66, 0.91) 100%);
}

#timeChanger {
    color: #fff;
    /* margin-top:20px; */
    /* z-index: 0; */
    /* top: 60px; */
    /* width: 100px; */
    /* margin-bottom: 50px; */
    padding: 3px;
    font-size: 2em;
    line-height: 60px;
    font-weight: 800;

}

.block_list {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    gap: 5px;
    padding:10px;
    margin:10px;
}

.block {
    /* flex-basis: calc(33.33% - 20px); */
    /* 33.33% für drei Blöcke in einer Reihe, subtrahiere den Abstand */
    border: 1px solid #000;
    padding: 0px;
    box-sizing: border-box; /* Um den Padding und die Größe innerhalb des Blocks zu berücksichtigen */
    width: 100%; /* Um den Block innerhalb der .block_list vollständig auszufüllen */
}

.block img {
    width: 26px; /* Um das Bild innerhalb des Blocks vollständig auszufüllen */
    height: auto; /* Um das Seitenverhältnis des Bildes beizubehalten */
}

.block p {
    font-size: 18px;
    padding: 1px;
    font-weight: bolder;
    text-align: center;
    margin: 0; /* Um zusätzlichen Abstand zu entfernen */
}


/* --------------------------------- End of the Script ------------------------------------*/

/* --------------------------------- All script for Container 3 -----------------------*/
.container_3 {
    display: none;
}





/* --------------------------------- End of the Script ------------------------------------*/